.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgrey; 
}

.sidebar__headerRight {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: !important;
}

.siderbar__search {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.siderbar__searchContainer > .MuiSvgIcon-root {
    border: none;
    outline-width: 0;
    margin-left: 10px;
}
